In [7]:
library("ggplot2")
library("dplyr")

In [8]:
#Datasource: https://www.kaggle.com/datasets/nayanack/shipping/data
shipping <- read.csv("shipping.csv", header=TRUE)
head(shipping)

  ID Warehouse_block Mode_of_Shipment Customer_care_calls Customer_rating
1 1  D               Flight           4                   2
2 2  F               Flight           4                   5
3 3  A               Flight           2                   2
4 4  B               Flight           3                   3
5 5  C               Flight           2                   2
6 6  F               Flight           3                   1
  Cost_of_the_Product Prior_purchases Product_importance Gender
1 177                 3               low                F
2 216                 2               low                M
3 183                 4               low                M
4 176                 4               medium             M
5 184                 3               medium             F
6 162                 3               medium             F
  Discount_offered Weight_in_gms Reached.on.Time_Y.N
1 44               1233          1
2 59               3088          1
3 48               3374          1
4 10               1177          1
5 46               2484          1
6 12               1417          1

In [11]:
#Mean of Customer rating by shipment method
by_shipment_method <- shipping %>% group_by(Mode_of_Shipment)
by_shipment_method <- by_shipment_method %>% summarise(Mean = mean(Customer_rating), Standard_deviation = sd(Customer_rating))

by_shipment_method

  Mode_of_Shipment Mean     Standard_deviation
1 Flight           2.982555 1.426199
2 Road             2.995455 1.421824
3 Ship             2.991289 1.408822

In [12]:
#Mean of Customer rating by Warehouse storage block
by_warehouse_block <- shipping %>% group_by(Warehouse_block)
by_warehouse_block <- by_warehouse_block %>% summarise(Mean = mean(Customer_rating), Standard_deviation = sd(Customer_rating))

by_warehouse_block

  Warehouse_block Mean     Standard_deviation
1 A               2.957447 1.434654
2 B               2.980360 1.416391
3 C               2.993999 1.403157
4 D               3.017993 1.405004
5 F               2.996727 1.411506