In [32]:
#Datasource: https://www.kaggle.com/datasets/nayanack/shipping/data
shipping <- read.csv("shipping.csv", header=TRUE)
print("Number of missing/NULL values: ")
sum(is.na(shipping))
head(shipping)

[1] "Number of missing/NULL values: "

[1] 0

  ID Warehouse_block Mode_of_Shipment Customer_care_calls Customer_rating
1 1  D               Flight           4                   2
2 2  F               Flight           4                   5
3 3  A               Flight           2                   2
4 4  B               Flight           3                   3
5 5  C               Flight           2                   2
6 6  F               Flight           3                   1
  Cost_of_the_Product Prior_purchases Product_importance Gender
1 177                 3               low                F
2 216                 2               low                M
3 183                 4               low                M
4 176                 4               medium             M
5 184                 3               medium             F
6 162                 3               medium             F
  Discount_offered Weight_in_gms Reached.on.Time_Y.N
1 44               1233          1
2 59               3088          1
3 48               3374          1
4 10               1177          1
5 46               2484          1
6 12               1417          1

In [41]:
#Two-sample t-test
shipping_for_m <- shipping$Cost_of_the_Product[shipping$Gender == "M"]
shipping_for_f <- shipping$Cost_of_the_Product[shipping$Gender == "F"]

t.test(x = shipping_for_m, y = shipping_for_f)

	Welch Two Sample t-test

data:  shipping_for_m and shipping_for_f
t = 2.0725, df = 10994, p-value = 0.03824
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 0.102955 3.695800
sample estimates:
mean of x mean of y
 211.1544  209.2550