In [1]:
df <- read.csv("shipping.csv", header=TRUE)

In [4]:
head(df)

  ID Warehouse_block Mode_of_Shipment Customer_care_calls Customer_rating
1 1  D               Flight           4                   2
2 2  F               Flight           4                   5
3 3  A               Flight           2                   2
4 4  B               Flight           3                   3
5 5  C               Flight           2                   2
6 6  F               Flight           3                   1
  Cost_of_the_Product Prior_purchases Product_importance Gender
1 177                 3               low                F
2 216                 2               low                M
3 183                 4               low                M
4 176                 4               medium             M
5 184                 3               medium             F
6 162                 3               medium             F
  Discount_offered Weight_in_gms Reached.on.Time_Y.N
1 44               1233          1
2 59               3088          1
3 48               3374          1
4 10               1177          1
5 46               2484          1
6 12               1417          1